<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Michael Jackson</string>
	<string>Lady Gaga</string>
	<string>Justin Bieber</string>
	<string>Johnny Depp</string>
	<string>Will Smith</string>
	<string>Ronaldo</string>
	<string>Eminem</string>
	<string>Katy Perry</string>
	<string>Leonardo DiCaprio</string>
	<string>Marilyn Manson</string>
	<string>Madonna</string>
	<string>Roger Federer</string>
	<string>Beyonce</string>
	<string>Lionel Messi</string>
	<string>Shakira</string>
	<string>Rihanna</string>
	<string>Avril Lavigne</string>
	<string>Britney Spears</string>
	<string>Angelina Jolie</string>
	<string>Robert Pattinson</string>
	<string>Brad Pitt</string>
	<string>Cameron Diaz</string>
	<string>Adele</string>
	<string>Barack Obama</string>
	<string>Justin Timberlake</string>
	<string>Miley Cyrus</string>
	<string>Bob Marley</string>
	<string>Akon</string>
	<string>Selena Gomez</string>
	<string>Megan Fox</string>
	<string>Taylor Swift</string>
	<string>Christina Aguilera</string>
	<string>Eddie Murphy</string>
	<string>Carmen Electra</string>
	<string>Michael Jordan</string>
	<string>Drake</string>
	<string>Steve Jobs</string>
	<string>Nicki Minaj</string>
	<string>Marilyn Monroe</string>
	<string>Nicolas Cage</string>
	<string>Pink</string>
	<string>Dr House</string>
	<string>Jason Statham</string>
	<string>Kristen Stewart</string>
	<string>Kesha</string>
	<string>Hugh Grant</string>
	<string>Tom Cruise</string>
	<string>Jack Nicholson</string>
	<string>Kim Kardashian</string>
	<string>Nicole Kidman</string>
	<string>Tom Hanks</string>
	<string>Daniel Radcliffe</string>
	<string>Jennifer Aniston</string>
	<string>Whoopi Goldberg</string>
	<string>Gwen Stefani</string>
	<string>Jennifer Lopez</string>
	<string>David Beckham</string>
	<string>Julia Roberts</string>
	<string>Michelle Obama</string>
	<string>Lil Wayne</string>
	<string>Chris Brown</string>
	<string>David Duchovny</string>
	<string>Adam Sandler</string>
	<string>Ben Stiller</string>
	<string>Steven Spielberg</string>
	<string>Charlie Sheen</string>
	<string>Jay Z</string>
	<string>Muhammad Ali</string>
	<string>Bill Gates</string>
	<string>Oprah Winfrey</string>
	<string>Scarlett Johansson</string>
	<string>Jessica Alba</string>
	<string>Alicia Keys</string>
	<string>Halle Berry</string>
	<string>Paris Hilton</string>
	<string>Ashton Kutcher</string>
	<string>Uma Thurman</string>
	<string>Woody Allen</string>
	<string>Sandra Bullock</string>
	<string>Mike Tyson</string>
	<string>Jennifer Love Hewitt</string>
	<string>George Clooney</string>
	<string>Demi Moore</string>
	<string>Barbra Streisand</string>
	<string>Robert De Niro</string>
	<string>Tiger Woods</string>
	<string>James Cameron</string>
	<string>Drew Barrymore</string>
	<string>Alyssa Milano</string>
	<string>Reese Witherspoon</string>
	<string>Stephenie Meyer</string>
	<string>Sarah Jessica Parker</string>
	<string>Catherine Zeta Jones</string>
	<string>Kevin Costner</string>
	<string>Katherine Heigl</string>
	<string>Tyler Perry</string>
	<string>Michael Douglas</string>
	<string>Cindy Crawford</string>
	<string>Kelli Williams</string>
	<string>Alec Baldwin</string>
</array>
</plist>
